{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur One Piece Only !</h1>
    <p>Sélectionne un canal de discussion pour commencer à échanger (sans spoil) :</p>

    <ul>
        {% for ch in channels %}
            <li style="margin-bottom: 15px;">
                <a href="{{ path('app_channel_room', {'id': ch.id}) }}" style="font-size: 18px; font-weight: bold;">
                    # {{ ch.name }}
                </a>
                <br>
                <small>{{ ch.description }}</small>
            </li>
        {% else %}
            <li>Aucun canal disponible pour le moment.</li>
        {% endfor %}
    </ul>
{% endblock %}
