{% extends 'base.html.twig' %}

{% block body %}
    <div class="home-page">
        <header class="header">
            <h1 class="title">Bienvenue sur One Piece Only !</h1>
            <p class="subtitle">Sélectionne un canal de discussion pour commencer à échanger (sans spoil) :</p>
        </header>

        <ul class="channel-grid">
            {% for ch in channels %}
                <li class="channel-card">
                    <a href="{{ path('app_channel_room', {'id': ch.id}) }}" class="main-link">
                        <div class="header">
                            <span class="channel-name">{{ ch.name }}</span>
                        </div>
                        <p class="description">{{ ch.description }}</p>
                    </a>
                </li>
            {% else %}
                <li class="channel-list-empty">
                    <p>Aucun canal disponible pour le moment.</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
