<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}One Piece Only{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
</head>
<body>

<div class="app-layout">

    <aside class="app-sidebar">
        <div class="top">
            <div class="brand">
                One Piece Only
            </div>
            <nav class="nav">
                <a href="{{ path('app_home') }}" class="link {% if app.request.attributes.get('_route') == 'app_home' %}link--active{% endif %}">
                    Accueil
                </a>

                {% block sidebar_navigation %}
                    {% if not app.user %}
                        <a href="{{ path('app_login') }}" class="link {% if app.request.attributes.get('_route') == 'app_login' %}link--active{% endif %}">
                            Connexion
                        </a>
                    {% endif %}
                {% endblock %}
            </nav>
        </div>

        {% if app.user %}
            <div class="bottom">
                <a href="{{ path('app_logout') }}" class="btn-logout">
                    Déconnexion
                </a>
            </div>
        {% endif %}
    </aside>

    <main class="app-content">
        {% block body %}{% endblock %}
    </main>

</div>

</body>
</html>
